#basic.container-fluid {
	padding: 20px 0 30px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    background-color: #e6ffff;
    }
	
.b2 {
    background-color:  #ffffff;
    }

.b3 {
    background-color: #b3e6ff;
    }
	
.b5 {
	background-color:  #e6ffff;
	}
	
.navbar {
	margin-bottom: 0px;
}

ul.nav.navbar-nav {
	font: 18pt/12pt sans-serif;
	
}

#header-bottom {
	border-top: 3px solid #bbff99;
	border-bottom: 3px solid #bbff99;
	font: 28px verdana sans-serif;
	color: #009900;
	background-color:  #ffffe6;
	line-height: 1.5;
}

#main {
	min-height: 400px;
	font: 24px verdana sans-serif;
} 

#main h1  {
	font-size: 28px;
	font-weight: bolder;
}

a.btn.btn-primary.btn-lg {
	margin-top: 35px;
}

button.btn.btn-primary {
	margin-bottom: 40px;
}
button.btn.btn-default {
	margin-top: 15px;
}

#footer div.col-sm-12.col-md-8.col-md-offset-2 {
	border-top: 2px solid  #b3b3ff;
	border-bottom: 2px solid  #b3b3ff;
	font: 14px sans-serif, Arial;
	background-color:  #ffffe6;
	padding: 15px 0 25px 0;
}