<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap-3.4.0/dist/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/goal_planner.css') }}">
        {% endblock %}
    </head>
    <body>
    <div id="basic" class="container-fluid">
            <div class="row">

                <header>
                    <div class="container-fluid">
                        <div class="row"> 
                            <div class="col-sm-12 col-md-8 col-md-offset-2 b3">
                                <div id="logo">
                                    <img src="{{ asset('images/logo.png') }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </header>

                <nav class="navbar navbar-default col-sm-12 col-md-8 col-md-offset-2 b2">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ asset('goal_planner_home.html') }}"> Home</a></li>
                        <li><a href="{{ asset('goal_planner_set_goal.html') }}"> Set your goal</a></li>
                    </ul>
                </nav>
                    <div id="header-bottom" class="col-sm-12 b2">Set goals! Remember them! Accomplish your goals!</div>
       
        {% block main %}{% endblock %}
        
        <div class="clearfix"></div>
                <footer id="footer">
                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"> Copyright 2019, Drobotko Taras, Mychailo Lozynskyy.<br> All rights reserved.</div>
                                <div class="col-sm-12 col-md-6">Our email-contacts: drobotkot@gmail.com, lbondodesc@gmail.com.</div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        {% block javascripts %}
          <!-- Connection jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Connection Bootstrap JS -->    
        <script src="{{ asset('bootstrap-3.4.0/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
