{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
                <div id="main" class="col-sm-12 col-md-8 col-md-offset-2 b2">
                    <a class="btn btn-primary btn-lg">SET YOUR GOALS</a>
                    <h1>Your goals:</h1>
                    <ul>
                        <li>goal 1</li>
                        <li>goal 2</li>
                        <li>goal 3</li>
                    </ul>
                </div>
{% endblock %}
