{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
<div id="main" class="col-sm-12 col-md-8 col-md-offset-2 b2">
    <h1>Set your goal:</h1>
    <form method="post" action="#">
        <div class="form-group">
            <label for="nameGoal">Name your goal:</label>
            <input type="text" class="form-control" id="nameGoal">
        </div>

        <div class="form-group">
            <label for="describeGoal">Describe what you want to achieve:</label>
            <textarea class="form-control" rows="5"  id="describeGoal"></textarea>
        </div>

        <div class="form-group">
            <label for="milestone">What milestones I've got to accomplish before I reach my goal?</label>        
            <input type="text" class="form-control" id="milestone">  
            <button type="submit" class="btn btn-default">ADD MILESTONE</button>
        </div>

        <div class="form-group">
            <label for="dueDate">Does it have a due date?</label>
            <input type="date" class="form-control" id="dueDate">
        </div>

        <div class="form-group">
            <label class="control-label">Send e-mails reminders</label><br>
            <label class="radio-inline">
                <input type="radio" name="reminders" value="overdue" checked> When overdue
            </label>
            <label class="radio-inline">
                <input type="radio" name="reminders" value="daily"> Daily
            </label>
            <label class="radio-inline">
                <input type="radio" name="reminders" value="weekly"> Weekly
            </label>
            <label class="radio-inline">
                <input type="radio" name="reminders" value="monthly"> Monthly
            </label>
            <label class="radio-inline">
                <input type="radio" name="reminders" value="none"> None
            </label>
        </div>

        <button type="submit" class="btn btn-primary">SET GOAL</button>
    </form>
</div>
{% endblock %}